<p style="color: green"><%= notice %></p>

<h1>PLAN</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <p>
    <input type="checkbox" id="checkbox-<%= task.id %>" class="task-checkbox">
      <%= link_to task.title, task, id: "task-title-#{task.id}" %>
    </p>
  <% end %>
</div>

<%= link_to "New PLAN", new_task_path %>
