<% if user_signed_in? %>
  <% unless @user.id == current_user.id %>
    <!-- 既にroomが存在していれば既存のroomへ -->
    <% if @isRoom == true %>
      <!-- メールアイコンでroomに飛べるようにする -->
      <%= link_to room_path(@roomId) do %>
        <button id="dm_submit"><i class="fas fa-envelope"></i></button>
      <% end %>
    <% else %>
      <!-- roomが存在していなければroomを作成する -->
      <%= form_for @room, url: rooms_path do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <button type="submit" id="dm_submit"><i class="fas fa-envelope"></i></button>
      <% end %>
    <% end %>
  <% end %>
<% end %>