<div class="container">
  <div class="row">
    <div class="col-sm-6 col-12">
      <h1>Editing plan</h1>
      <%= render "form", plan: @plan %>      
      <br>
      <%= link_to "Show this plan", @plan %> |
      <%= link_to "Back to plans", plans_path %>
    </div>
  </div>
</div>
