<p style="color: green"><%= notice %></p>

<h1>Plans</h1>

<div id="plans">
  <% @plans.each do |plan| %>
    <p>
      <%= link_to plan.title , plan %>
    </p>
  <% end %>
</div>

<%= link_to "New plan", new_plan_path %>
