<div class="container">
  <div class="row">
    <div class="col-sm-6 col-12">
    <h1>Editing Action</h1>
    <%= render "form", act: @act %>
    <br>
      <%= link_to "Show this Action", @act %> |
      <%= link_to "Back to Actions", acts_path %>
    </div>
  </div>
</div>
