<p style="color: green"><%= notice %></p>

<h1>Actions</h1>

<div id="acts">
  <% @acts.each do |act| %>
    <p>
      <%= link_to act.title , act %>
    </p>
  <% end %>
</div>

<%= link_to "New Action", new_act_path %>
